---
import * as d3 from "d3";
import csv from "./scovAnim.csv?raw";
import RangeSlider from "@/components/RangeSlider";
import Plot from "./Plot.astro";

const data = d3.csvParse(csv, d3.autoType) as { lambda: number; x: number }[];
const lambdas = Array.from(new Set(data.map((x) => x.lambda)));
const lambdaInit = lambdas[lambdas.length / 2];
const lambdaInitIndex = lambdas.indexOf(lambdaInit!);
---

<RangeSlider
	min={0}
	max={lambdas.length - 1}
	step={1}
	value={lambdaInitIndex}
	delay={100}
	alternate={true}
	id="lambda"
>
	<span id="lambda-label">λ = {lambdaInit!.toFixed(1)}</span>
</RangeSlider>
<Plot args={{ data, lambda: lambdaInit, width: 832 }} id="hist-plot" class="-mt-6" />

<script define:vars={{ lambdas }}>
	const slider = document.querySelector("#lambda");
	const label = document.querySelector("#lambda-label");
	const plot = document.querySelector("#hist-plot");
	slider.addEventListener("input", (event) => {
		if (
			event instanceof CustomEvent &&
			event.detail.value !== undefined &&
			typeof event.detail.value === "number"
		) {
			const lambda = lambdas[event.detail.value];
			label.textContent = `λ = ${lambda.toFixed(1)}`;
			plot.dispatchEvent(new CustomEvent("plot", { detail: { lambda } }));
		}
	});
</script>
