@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-bg-alt: 0deg 0% 95%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-bg-alt: 210deg 6% 20%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}
	html {
		@apply relative box-border max-w-full overflow-x-hidden scroll-smooth;
	}

	html body {
		@apply relative mx-auto box-border flex min-h-screen max-w-4xl flex-col overflow-x-hidden bg-bgColor px-6 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}

.slider {
	appearance: none;
	height: 0.2em;
	background: var(--tw-prose-captions);
	outline: none;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 0.4em;
	border-radius: 0.2em;
	height: 1em;
	background: var(--tw-prose-body);
	position: relative;
}
