---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Teaching",
	description: "Some past and current teaching activities.",
};

import { getAllPosts } from "@/utils";

const allPosts = await getAllPosts();
const allTeaching = allPosts.filter((post) => post.data.tags.includes("teaching"));

import PostPreview from "@/components/blog/PostPreview";
---

<PageLayout meta={meta}>
	<section aria-label="Projects">
		<h1 class="title mb-6">Teaching</h1>
		<ul class="space-y-8">
			{
				allTeaching.map((p, i) => (
					<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
						<PostPreview
							post={p}
							large={true}
							withDesc
							withTags
							text={i % 2 == 0 ? "right" : "left"}
						/>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
