---
import { Icon } from "astro-icon/components";

const { url, filename, class: classList = "" } = Astro.props;
---

<iframe src={url} class:list={[classList, "mb-2"]} title={url}></iframe>
<a href={url} class="cactus-link" target="_blank" rel="noopener noreferrer">
	<div class="flex items-center">
		<Icon class="h-6 w-6" name="mdi:download" aria-hidden="true" focusable="false" />
		{filename}
	</div>
</a>
