---
import { type IconDefinition } from "@fortawesome/fontawesome-svg-core";
import Icon from "src/components/Icon.astro";
import { faInstagram, faGithub, faLinkedin } from "@fortawesome/free-brands-svg-icons";
import { faEnvelope } from "@fortawesome/free-regular-svg-icons";

const socialLinks: Array<{
	icon: IconDefinition;
	link: string;
	isWebmention?: boolean;
}> = [
	{
		icon: faGithub,
		link: "https://github.com/wirhabenzeit",
	},
	{
		icon: faInstagram,
		link: "https://www.instagram.com/wirhabenzeit/",
	},
	{
		icon: faLinkedin,
		link: "https://www.linkedin.com/in/dominik-schröder-695365222/",
	},
	{
		icon: faEnvelope,
		link: "mailto:dschroeder@ethz.ch",
		isWebmention: true,
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<ul class="not-prose flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ link, icon, isWebmention }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						target="_blank"
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
					>
						<Icon class="h-5 w-5" icon={icon} />
					</a>
				</li>
			))
		}
	</ul>
</div>
