---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";
import Tags from "@/components/blog/Tags";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
	withTags?: boolean;
};

const { post, as: Tag = "div", withDesc = false, withTags = false } = Astro.props;
//const postDate = post.data.updatedDate ?? post.data.publishDate;
---

<Tag>
	<a href={`/posts/${post.slug}/`} class="cactus-link" rel="prefetch">
		<h2 class="text-xl font-bold">{post.data.title}</h2>
	</a>
	{withTags && !!post.data.tags?.length && <Tags tags={post.data.tags} />}
</Tag>
{withDesc && <p class="line-clamp-3 block">{post.data.description}</p>}
