---
import PostPreview from "./PostPreview.astro";
import { getAll } from "@/utils";

const {
	filter = () => true,
	sort = (a, b) => a.slug > b.slug,
	numbered = false,
	collection = "posts",
	...args
} = Astro.props;

const allPosts = await getAll(collection);

const selectedPosts = allPosts
	.filter(filter)
	.sort(sort)
	.reduce((prev, post) => {
		const prevRight = prev.length > 0 ? prev[prev.length - 1].right : true;
		const prevNum = prev.length > 0 ? prev[prev.length - 1].number : 0;
		const right = post.data.heroImage ? !prevRight : prevRight;
		return [...prev, { ...{ post: post, right }, ...(numbered ? { number: prevNum + 1 } : {}) }];
	}, []);
---

<ul class="not-prose space-y-8">
	{
		selectedPosts.map((props) => (
			<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
				<PostPreview {...props} {...args} />
			</li>
		))
	}
</ul>
