---
import BaseLayout from "./Base.astro";
import TOC from "@/components/blog/TOC";
const { frontmatter, headings } = Astro.props;
---

<BaseLayout meta={{ title: frontmatter.title }}>
	<div class="gap-x-10 lg:flex lg:items-start">
		{frontmatter.toc && !!headings.length && <TOC headings={headings} />}
		<article class="flex-grow break-words" data-pagefind-body>
			{frontmatter.title && <h1 class="title mb-3 sm:mb-1">{frontmatter.title}</h1>}
			<div
				class="prose prose-sm prose-cactus mt-12 max-w-none prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none"
			>
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
